<div class="footer">
    <div class="d-flex">
        <div class="flex-2-col">
            <h4>צריכים עזרה?</h4>
            <p>אנחנו לשירותכם!</p>
            <ul>
                <li><i class="far fa-clock"></i>א'-ה' 08:30-17:00</li>
                <li><a href="tel:035322313"><i class="fa fa-phone"></i>03-5322313 שלוחה 1</a></li>
                <li><a href="mailto:info@justforu.co.il"><i class="fa fa-envelope"></i>info&#64;justforu.co.il</a></li>
            </ul>
        </div>
        <div class="flex-2-col">
            <h4>מה יותר כיף מלקבל מתנה?</h4>
            <p>לתת אחת!</p>
            <p><a href="https://www.just4u.co.il" target="_blank"><u>באתר Just4u</u></a> תמצאו מגוון עצום של מתנות, חוויות וגיפט קארדים להעניק
                ליקיריכם.</p>
        </div>
    </div>
    <div class="footer-logo"><a href="https://www.just4u.co.il" target="_blank"><img src="https://www.just4u.co.il/assets/images/j4u_logo.png"></a></div>
</div>