<div class="navigate" *ngIf="!showItems &&showGiftsBanner">
        <ng-template [ngIf]="!shoppingMode && !(order.id == 40291 && isDemo)">
            <h2 class="color-primary">יתרת תקציב: {{employee.Obligo | number:'1.0-0'}} ש"ח</h2>
        </ng-template>

        <div class="gift-item navigate-card"  (click)="showItemsGrid()"
            [style.background-image]="'url(https://www.just4u.co.il/pictures/39078_38605_מתנוש.jpg)'">
            <div class="item-footer jc-between">
                <span *ngIf="order.id != 41274 && !isTBWallet">תמריצים</span>
                <span *ngIf="order.id == 41274">ארנק דיגיטלי</span>
                <span *ngIf="isTBWallet">ארנק גיבושים</span>
                <button class="btn">בחירה<i class="fa fa-chevron-left"></i></button>
            </div>
        </div>

        <div class="gift-item navigate-card" *ngIf="showTeamBuildsBanner" (click)="navigateToTBPK()"
            [style.background-image]="'url(https://www.just4u.co.il/Pictures/TBPKG_2531.jpg)'">
            <div class="item-footer jc-between">
                <span>גיבושים</span>
                <button class="btn">בחירה<i class="fa fa-chevron-left"></i></button>
            </div>
        </div>

</div>
<div class="container" *ngIf="showItems">
    <p class="instructions" [innerHTML]="order.instructions | safeHtml"></p>
    <div *ngIf="isChange">
        <p class="instructions"><b>רוצה להישאר עם הבחירה הקודמת שלך? </b><button class="btn"
                (click)="cancelChange()">ביטול שינוי</button></p>
    </div>
    <div *ngIf="order.MultipleChoice == 1" class="d-flex jc-between multiple-info" [class.collapse-enabled]="enableCollapsible">
        <ng-template [ngIf]="!shoppingMode" [ngIfElse]="shopping">
            <h2 class="color-primary">יתרת תקציב: {{employee.Obligo | number:'1.0-0'}} ש"ח</h2>
            <div><button class="btn btn-large" routerLink="/send-history" queryParamsHandling="preserve">צפייה במתנות
                    ששלחתי</button></div>
        </ng-template>
        <ng-template #shopping>
            <h2 class="color-primary">סכום הזמנה: {{orderTotal | number:'1.0-0'}} ש"ח</h2>
            <div><button class="btn btn-large" routerLink="/cart" queryParamsHandling="preserve">סל קניות<span
                        *ngIf="cartSize > 0">({{cartSize}})</span></button></div>
        </ng-template>
    </div>
    <ng-template [ngIf]="isTBWallet">
        <h2 class="color-primary">אטרקציות למימוש באופן עצמאי בתוקף לשנת 2024</h2>
    </ng-template>
    <div [class.multiple-grid]="enableCollapsible" *ngFor="let group of groups">
        <h3 *ngIf="group.Price" (click)="group.Collapsed = !group.Collapsed;
            grid.style.maxHeight = group.Collapsed ? 0 : grid.scrollHeight + 'px'" class="color-primary">
            <i *ngIf="group.Collapsed" class="fas fa-angle-left"></i>
            <i *ngIf="!group.Collapsed" class="fas fa-angle-down"></i>
            {{group.Price}}
        </h3>
        <div class="gifts-grid collapsible-grid" [class.ie11]="isIE" #grid>
            <div *ngFor="let item of group.items" class="gift-wrapper" #wrapper>
                <ng-template [ngIf]="!wrapper.classList.contains('expanded')" [ngIfElse]="expanded">
                    <div class="gift-item" (click)="expand($event)"
                        [style.background-image]="'url(https://www.just4u.co.il/Pictures/' + (item.image | encodeSpaces) + ')'">
                        <div class="item-footer jc-between">
                            <span>{{item.name}}<br><span *ngIf="item.IsGiftCard && order.Type == 2">מחיר לפי סכום טעינה</span>
                                <span *ngIf="item.IsGiftCard && order.Type !== 2"> בשווי {{item.LoadSum | number:'2.0-0'}}
                                    ש"ח</span><span *ngIf="order.MultipleChoice == 1 && !item.IsGiftCard">  {{item.Price | number:'1.0-0'}}
                                    &#8362;</span></span>

                            <button class="btn">בחירה<i class="fa fa-chevron-left"></i></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template #expanded>
                    <div class="item-brief">
                        <span class="close-btn" (click)="collapse($event)">&times;</span>
                        <div class="brief-body" [style.height]="height + 'px'">
                            <div class="brief-info">
                                <img src="https://www.justforu.co.il/pictures/{{item.image | encodeSpaces}}">
                                <h4>{{item.name}}<br><span *ngIf="item.IsGiftCard && order.Type == 2">מחיר לפי סכום טעינה</span>
                                    <span *ngIf="item.IsGiftCard && order.Type !== 2"> בשווי {{item.LoadSum | number:'2.0-0'}}
                                        ש"ח</span><span *ngIf="order.MultipleChoice == 1 && !item.IsGiftCard && order.Type !== 2">  {{item.Price |
                                        number:'1.0-0'}}
                                        &#8362;</span></h4>
                                <div class="brief-desc" [innerHTML]="item.description"></div>
                            </div>
                            <!--<div *ngIf="item.brands" class="brief-brands">
                                <h5>בתי עסק מכבדים</h5>
                                <ng-template [ngIf]="item.brands.length > 4" [ngIfElse]="brandsStatic">
                                    <div class="carousel-wrapper">
                                        <div class="carousel">
                                            <div class="slider">
                                                <div *ngFor="let brand of item.brands"><img
                                                        src="{{brand.logo | encodeSpaces}}"></div>
                                            </div>
                                        </div>
                                        <div class="carousel-nav">
                                            <a class="prev"><i class="fa fa-chevron-right"></i></a>
                                            <a class="next"><i class="fa fa-chevron-left"></i></a>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #brandsStatic>
                                    <div class="brands-wrapper">
                                        <div *ngFor="let brand of item.brands"><img src="{{brand.logo | encodeSpaces}}">
                                        </div>
                                    </div>
                                </ng-template>
                            </div>-->
                        </div>
                        <div class="brief-footer" #briefFooter>
                            <!-- פריט סעודה זוגית צריך להוביל לדואט -->
                            <a class="btn" *ngIf="item.id == 1271" href="https://www.just4u.co.il/coupon/1178?expanded=1271" target="_blank">מקומות מכבדים<i
                                class="fa fa-chevron-left"></i></a> 
                            <a class="btn" *ngIf="item.id !== 1271" href="{{item.link}}" target="_blank">מקומות מכבדים<i
                                    class="fa fa-chevron-left"></i></a>
                            <ng-template [ngIf]="!briefFooter.classList.contains('addtocart')" [ngIfElse]="setQty">
                                <ng-template [ngIf]="shoppingMode" [ngIfElse]="regMode">
                                    <button class="btn" (click)="openQty($event)">הוסף לסל<i
                                            class="fas fa-shopping-cart"></i>
                                    </button>
                                </ng-template>
                                <ng-template #regMode>
                                    <button class="btn" (click)="doPotentialChoice(item)" [disabled]="(isDemo && isImmediate)|| (order.id == 40291 && isDemo)">
                                        <ng-template [ngIf]="isImmediate" >אישור וקבלת קוד
                                        </ng-template>
                                        <ng-template #noCode [ngIf]="!isImmediate">אישור בחירה</ng-template><i class="fas fa-gift"></i>
                                    </button>
                                </ng-template>
                            </ng-template>
                            <ng-template #setQty>
                                <!-- TODO: Check minimum -->
                                <ng-template [ngIf]="!briefFooter.classList.contains('added-ok')"
                                    [ngIfElse]="successAdded">
                                    <input class="form-control" type="number" placeholder="כמות" #quantity>
                                    <button class="btn" (click)="addToCart($event, item, quantity.value)">הוסף</button>
                                </ng-template>
                                <ng-template #successAdded>
                                    <span style="margin-left: 1rem; font-size: 1.25rem;"><i class="fas fa-check"></i>
                                        נוסף בהצלחה!</span>
                                    <button class="btn" routerLink="/cart" queryParamsHandling="preserve">מעבר לסל
                                        להשלמת
                                        ההזמנה</button>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class = "no-items-in-budget" *ngIf="noItemsInBudget">
            <span>לצערינו, לא נותרו עוד פריטים שמחירם תואם לסכום יתרת תקציבך</span><br>
            <span>לחידוש התקציב ולבירורים פנו אלינו בטלפון 03-5322313.</span>
        </div>
    </div>
    <ng-template [ngIf]="isTBWallet && order.id != 42264">
        <h2 class="color-primary">אטרקציות בתיאום מול הספק</h2>
    </ng-template>
    <div [class.multiple-grid]="enableCollapsible" *ngFor="let group of selfCoordinatingGroups">
            <h3 *ngIf="group.Price" (click)="group.Collapsed = !group.Collapsed;
                grid.style.maxHeight = group.Collapsed ? 0 : grid.scrollHeight + 'px'" class="color-primary">
                <i *ngIf="group.Collapsed" class="fas fa-angle-left"></i>
                <i *ngIf="!group.Collapsed" class="fas fa-angle-down"></i>
                {{group.Price}}
            </h3>
            <div class="gifts-grid collapsible-grid" [class.ie11]="isIE" #grid>
                <div *ngFor="let item of group.items" class="gift-wrapper" #wrapper>
                    <ng-template [ngIf]="!wrapper.classList.contains('expanded')" [ngIfElse]="expanded">
                        <div class="gift-item" (click)="expand($event)"
                            [style.background-image]="'url(https://www.just4u.co.il/Pictures/' + (item.image | encodeSpaces) + ')'">
                            <div class="item-footer jc-between">
                                <span>{{item.name}}<br><span *ngIf="item.IsGiftCard && order.Type == 2">מחיר לפי סכום טעינה</span>
                                    <span *ngIf="item.IsGiftCard && order.Type !== 2"> בשווי {{item.LoadSum | number:'2.0-0'}}
                                        ש"ח</span><span *ngIf="order.MultipleChoice == 1 && !item.IsGiftCard">  {{item.Price | number:'1.0-0'}}
                                        &#8362;</span></span>
    
                                <button class="btn">בחירה<i class="fa fa-chevron-left"></i></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #expanded>
                        <div class="item-brief">
                            <span class="close-btn" (click)="collapse($event)">&times;</span>
                            <div class="brief-body" [style.height]="height + 'px'">
                                <div class="brief-info">
                                    <img src="https://www.justforu.co.il/pictures/{{item.image | encodeSpaces}}">
                                    <h4>{{item.name}}<br><span *ngIf="item.IsGiftCard && order.Type == 2">מחיר לפי סכום טעינה</span>
                                        <span *ngIf="item.IsGiftCard && order.Type !== 2"> בשווי {{item.LoadSum | number:'2.0-0'}}
                                            ש"ח</span><span *ngIf="order.MultipleChoice == 1 && !item.IsGiftCard && order.Type !== 2">  {{item.Price |
                                            number:'1.0-0'}}
                                            &#8362;</span></h4>
                                    <div class="brief-desc" [innerHTML]="item.description"></div>
                                </div>
                                <!--<div *ngIf="item.brands" class="brief-brands">
                                    <h5>בתי עסק מכבדים</h5>
                                    <ng-template [ngIf]="item.brands.length > 4" [ngIfElse]="brandsStatic">
                                        <div class="carousel-wrapper">
                                            <div class="carousel">
                                                <div class="slider">
                                                    <div *ngFor="let brand of item.brands"><img
                                                            src="{{brand.logo | encodeSpaces}}"></div>
                                                </div>
                                            </div>
                                            <div class="carousel-nav">
                                                <a class="prev"><i class="fa fa-chevron-right"></i></a>
                                                <a class="next"><i class="fa fa-chevron-left"></i></a>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #brandsStatic>
                                        <div class="brands-wrapper">
                                            <div *ngFor="let brand of item.brands"><img src="{{brand.logo | encodeSpaces}}">
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>-->
                            </div>
                            <div class="brief-footer" #briefFooter>
                                <!-- פריט סעודה זוגית צריך להוביל לדואט -->
                                <a class="btn" *ngIf="item.id == 1271" href="https://www.just4u.co.il/coupon/1178?expanded=1271" target="_blank">מקומות מכבדים<i
                                    class="fa fa-chevron-left"></i></a> 
                                <a class="btn" *ngIf="item.id !== 1271" href="{{item.link}}" target="_blank">מקומות מכבדים<i
                                        class="fa fa-chevron-left"></i></a>
                                <ng-template [ngIf]="!briefFooter.classList.contains('addtocart')" [ngIfElse]="setQty">
                                    <ng-template [ngIf]="shoppingMode" [ngIfElse]="regMode">
                                        <button class="btn" (click)="openQty($event)">הוסף לסל<i
                                                class="fas fa-shopping-cart"></i>
                                        </button>
                                    </ng-template>
                                    <ng-template #regMode>
                                        <button class="btn" (click)="doPotentialChoice(item)" [disabled]="(isDemo && isImmediate)|| (order.id == 40291 && isDemo)">
                                            <ng-template [ngIf]="isImmediate" >אישור וקבלת קוד
                                            </ng-template>
                                            <ng-template #noCode [ngIf]="!isImmediate">אישור בחירה</ng-template><i class="fas fa-gift"></i>
                                        </button>
                                    </ng-template>
                                </ng-template>
                                <ng-template #setQty>
                                    <!-- TODO: Check minimum -->
                                    <ng-template [ngIf]="!briefFooter.classList.contains('added-ok')"
                                        [ngIfElse]="successAdded">
                                        <input class="form-control" type="number" placeholder="כמות" #quantity>
                                        <button class="btn" (click)="addToCart($event, item, quantity.value)">הוסף</button>
                                    </ng-template>
                                    <ng-template #successAdded>
                                        <span style="margin-left: 1rem; font-size: 1.25rem;"><i class="fas fa-check"></i>
                                            נוסף בהצלחה!</span>
                                        <button class="btn" routerLink="/cart" queryParamsHandling="preserve">מעבר לסל
                                            להשלמת
                                            ההזמנה</button>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class = "no-items-in-budget" *ngIf="noItemsInBudget">
                <span>לצערינו, לא נותרו עוד פריטים שמחירם תואם לסכום יתרת תקציבך</span><br>
                <span>לחידוש התקציב ולבירורים פנו אלינו בטלפון 03-5322313.</span>
            </div>
    </div>
    <div *ngIf="giftSites.length">
        <div *ngFor="let site of giftSites" class="multiple-grid">
            <div class="giftsite-header d-flex">
                <h3 (click)="site.Collapsed = !site.Collapsed;
            grid.style.maxHeight = site.Collapsed ? 0 : grid.scrollHeight + 'px'" class="color-primary">
                    <i *ngIf="site.Collapsed" class="fas fa-angle-left"></i>
                    <i *ngIf="!site.Collapsed" class="fas fa-angle-down"></i>
                    שליחת שובר ללקוח בשווי {{site.budget | number:'1.0-0'}} ש"ח
                </h3>
                <!-- <h3 class="color-primary">שליחת אתר מתנות בתקציב {{site.budget | number:'1.0-0'}} ש"ח</h3> -->
                <button class="btn" (click)="doPotentialChoice(giftSiteItems[site.giftItemIndex])">שליחה<i
                        class="fa fa-chevron-left"></i></button>
            </div>
            <div class="collapsible-grid" #grid>
                <h4>האתר כולל את הפריטים הבאים לבחירה:</h4>
                <div class="gifts-grid" [class.ie11]="isIE">
                    <div *ngFor="let item of site.items" class="gift-wrapper" #wrapper>
                        <ng-template [ngIf]="!wrapper.classList.contains('expanded')" [ngIfElse]="expanded">
                            <div class="gift-item" (click)="expand($event)"
                                [style.background-image]="'url(https://www.just4u.co.il/Pictures/' + (item.image | encodeSpaces) + ')'">
                                <div class="item-footer jc-between">
                                    <span>{{item.name}}<span *ngIf="item.IsGiftCard && order.Type !==2"> בשווי {{item.LoadSum |
                                            number:'2.0-0'}}
                                            ש"ח</span><span *ngIf="order.MultipleChoice == 1"> - {{item.Price |
                                            number:'1.0-0'}}
                                            &#8362;</span></span>
                                    <button class="btn">פרטים<i class="fa fa-chevron-left"></i></button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #expanded>
                            <div class="item-brief">
                                <span class="close-btn" (click)="collapse($event)">&times;</span>
                                <div class="brief-body" [style.height]="height + 'px'">
                                    <div class="brief-info">
                                        <img src="https://www.justforu.co.il/pictures/{{item.image | encodeSpaces}}">
                                        <h4>{{item.name}}<span *ngIf="item.IsGiftCard"> בשווי {{item.LoadSum |
                                                number:'2.0-0'}}
                                                ש"ח</span><span *ngIf="order.MultipleChoice == 1"> - {{item.Price |
                                                number:'1.0-0'}}
                                                &#8362;</span></h4>
                                        <div class="brief-desc" [innerHTML]="item.description"></div>
                                    </div>
                                </div>
                                <div class="brief-footer" #briefFooter>
                                    <!-- פריט סעודה זוגית צריך להוביל לדואט -->
                            <a class="btn" *ngIf="item.id == 1271" href="https://www.just4u.co.il/coupon/1178?expanded=1271" target="_blank">מקומות מכבדים<i
                                class="fa fa-chevron-left"></i></a>
                                    <a class="btn" *ngIf="item.id !== 1271"href="{{item.link}}" target="_blank">מקומות מכבדים<i
                                            class="fa fa-chevron-left"></i></a>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="modalDialog" class="overlay">
        <div class="j4u-modal">
            בחרתם: <strong>{{potentialChoice.name}}<span *ngIf="potentialChoice.IsGiftCard"> בשווי
                    {{potentialChoice.LoadSum | number:'2.0-0'}} ש"ח</span></strong><br>
            בטוחים?
            <div class="d-flex jc-between" style="margin-top:1rem;">
                <button *ngIf="!isLoading" class="btn" (click)="doChoice(potentialChoice)">כן!</button>
                <div *ngIf="isLoading" class="loader">
                    <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div><button class="btn" (click)="modalDialog = false" [disabled]="isLoading">לא, אני אסתכל עוד
                        קצת</button></div>
            </div>
        </div>
    </div>
</div>