<div class="container">
    <ng-template [ngIf]="choices.length == 1" [ngIfElse]="plural">
        <h2 class="color-primary">הבחירה שלך:</h2>
    </ng-template>
    <ng-template #plural>
        <h2 class="color-primary">הבחירות שלך:</h2>
    </ng-template>
    <div *ngFor="let choice of choices; let i = index" class="choice-container">
        <div class="choice-wrapper">
            <div class="choice-img">
                <img src="{{choice.image | encodeSpaces}}">
                <div class="choice-brands" *ngIf="brands[i]">
                    <ng-template [ngIf]="brands[i].length > 4" [ngIfElse]="brandsStatic">
                        <div class="carousel-wrapper">
                            <div class="carousel">
                                <div class="slider">
                                    <div *ngFor="let brand of brands[i]"><img src="{{brand.logo | encodeSpaces}}"></div>
                                </div>
                            </div>
                            <div class="carousel-nav">
                                <a class="prev color-primary"><i class="fa fa-chevron-right"></i></a>
                                <a class="next color-primary"><i class="fa fa-chevron-left"></i></a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #brandsStatic>
                        <div class="brands-wrapper">
                            <div *ngFor="let brand of brands[i]"><img src="{{brand.logo | encodeSpaces}}"></div>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="choice-desc">
                <h3>{{choice.ITemName}}<span *ngIf="choice.IsGiftCard"> בשווי {{choice.LoadSum | number:'2.0-0'}}
                        ש"ח</span></h3>
                <div [innerHTML]="choice.description"></div>
            </div>
        </div>
        <div class="suppliers-link no-print"><a href="../coupon/{{choice.itemid}}" target="_blank" class="btn">לרשימת
                בתי עסק מכבדים</a></div>
        <h2 class="color-primary">בחירה מעולה! :)</h2>
        <ng-template [ngIf]="choice.VCVoucherid != null && choice.VCVoucherid != '0'" [ngIfElse]="noCode">
            <div *ngIf="showCode"><h3>הקוד שלך: {{choice.VCVoucherid}}<br>
                תוקף: {{vDate[i]}}</h3>
            <h3 *ngIf="choice.RealizeDate">מומש ב{{choice.Location}} בתאריך {{rDate[i]}}</h3></div>
            <div class="no-print">
                <h4>קבלת הקוד</h4>
                <div class="send-options color-primary">
                    <div class="send-option" [class.active]="sendPhone" (click)="sendPhone = !sendPhone"><i
                            class="fa fa-mobile"></i><i class="fa fa-comment"></i><span>SMS</span></div>
                    <div class="send-option" [class.active]="sendMail" (click)="sendMail = !sendMail"><i
                            class="fa fa-envelope"></i><span>מייל</span></div>
                    <div *ngIf="showCode" class="send-option" (click)="print(choice.itemid)"><i class="fa fa-print"></i><span>הדפסה</span></div>
                </div>
                <div class="sendform-wrapper">
                    <form *ngIf="allowSend && (sendPhone || sendMail)" [formGroup]="sendForm" (ngSubmit)="onSendSubmit()">
                        <div *ngIf="sendPhone"><input type="tel" id="phone" name="phone" formControlName="phone"
                                class="form-control" placeholder="מס' טלפון"></div>
                        <div *ngIf="sendMail"><input type="email" id="email" name="email" formControlName="email"
                                class="form-control" placeholder="כתובת אימייל"></div>
                        <button class="btn" type="submit" [disabled]="!sendForm.valid || sending">שלח</button>
                    </form><span *ngIf="sent" class="color-primary">הקוד נשלח, עוד רגע המתנה אצלך!</span><br>
                    <span *ngIf="!allowSend" class="error-desc">יש להמתין במשך 15 דקות ממועד השליחה האחרון לפני שניתן יהיה לשלוח פעם נוספת.</span>
                </div>
            </div>
        </ng-template>
        <ng-template #noCode>
            <h3>קוד השובר יתקבל בתאריך: {{endDate}}</h3>
            <ng-template [ngIf]="canChange">
                <h3>בינתיים אפשר להחליף:</h3>
                <a class="btn" [routerLink]="['/select']" [queryParams]="{change: 'true'}"
                    queryParamsHandling="merge">החלפת מתנה</a>
            </ng-template>
        </ng-template>
        <div class="print-suppliers">
            <h4>בתי עסק מכבדים<br>(לרשימה המלאה והמעודכנת: just4u.co.il/coupon/{{choice.itemid}})</h4>
            <div *ngIf="suppliers">
                <div *ngFor="let supp of suppliers[i]" class="supp-block">
                    <img src="../Pictures/{{supp.PicName | encodeSpaces}}"><br>
                    {{supp.Name}}<br>
                    <span *ngIf="supp.city">{{supp.city}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="print-footer">
        <img src="../Pictures/Just4U-logo-gold-positive.jpg">
        <p>טלפון: 03-5322313, מייל: info&#64;justforu.co.il, שעות פעילות: א'-ה' 08:30-17:00</p>
    </div>
</div>