.col-2-md {
    width: 40%;
    padding-right: 2rem;
    border-right: solid 2px #f7f7f7;
}

.col-3-md {
    width: 60%;
    margin-left: 2rem;
}

.labels {
    text-align: center;
    margin-bottom: .5rem;
    label {width: 12.5%;}
}

.item-block {
    display: flex;
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: 2rem;
    height: 7rem;
    background-color: #f3f3f3;
    button { cursor: pointer; }
    transition: all ease-in .25s;
    &.removed {
        margin-bottom: -2rem;
        opacity: 0;
    }
}

.item-block > div {
    padding: 0 .5rem;
    width: 12.5%;
    text-align: center;
}

.item-block h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.item-img {
    width: 20% !important;
    max-width: 13rem;
    padding: 0 !important;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-title {
    width: 30% !important;
    h4 { font-weight: 700; }
}

.item-block input[type="number"] {
    width: 4rem;
    margin: 0 auto;
}

.btn.icon-right i {
    margin: 0 0 0 .5rem;
}

.btn {
    padding: .75rem 1.25rem;
    font-size: 1.25rem;
}

.btn-gray {
    background: #efefef;
}

.item-block .error-desc {
    position: absolute;
    margin-right: -2rem;
}
.col-2-md .error-desc {
    display: block;
    margin: -1rem 0 .5rem;
}

.form-control {max-width: 25rem;}

@media (max-width: 576px) {
    .item-block { display: block; }
    .item-img, .item-info { width: 100%; }
    .item-img { line-height: .5; }
}