<div class="container">
    <ng-template [ngIf]="!completed" [ngIfElse]="thankyou">
        <div class="d-flex">
            <div class="col-3-md">
                <div class="d-flex labels">
                    <label style="width: 20%">תמונה</label>
                    <label style="width: 30%">שם פריט</label>
                    <label>כמות</label>
                    <label>מחיר יחידה</label>
                    <label>סך הכל</label>
                    <label style="opacity: 0">הסרה</label>
                </div>
                <div *ngFor="let item of cart; let i = index" class="item-block d-flex ai-center" #itemBlock>
                    <div class="item-img">
                        <img src="{{item.image}}" alt="{{item.name}}">
                    </div>
                    <div class="item-title">
                        <h4>{{item.name}}</h4>
                    </div>
                    <div>
                        <input class="form-control" type="number" placeholder="כמות" [value]="item.qty"
                            (change)="qtyChange($event, i)">
                        <span *ngIf="isError && itemBlock.classList.contains('error')" class="error-desc">
                            יש להזין כמות חיובית
                        </span>
                    </div>
                    <div>
                        <h4>{{item.price}} ₪</h4>
                    </div>
                    <div>
                        <h4>{{item.subtotal}} ₪</h4>
                    </div>
                    <div>
                        <button (click)="removeCart($event, i)"><i class="fas fa-times"></i></button><br>
                        <span>הסרה</span>
                    </div>
                </div>
                <div class="d-flex jc-between ai-center">
                    <button class="btn btn-gray icon-right" routerLink="/select" queryParamsHandling="preserve"><i
                            class="fas fa-arrow-right"></i>המשך בקנייה</button>
                    <h3 style="font-weight: 400" class="color-primary">סך הכל: <strong>{{orderTotal |
                            number:'1.0-0'}}</strong> ש"ח</h3>
                </div>
            </div>
            <div class="col-2-md">
                <h2 class="color-primary" style="margin: -1rem 0 1rem">פרטי הזמנה</h2>
                <form [formGroup]="detailsForm" (ngSubmit)="submitOrder()">
                    <input type="text" required formControlName="name" class="form-control" placeholder="שם מלא">
                    <span class="error-desc" *ngIf="name.invalid && (name.dirty || name.touched)">שדה חובה</span>
                    <input type="text" required formControlName="phone" class="form-control"
                        placeholder="טלפון (ספרות בלבד)">
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                        <span class="error-desc" *ngIf="phone.errors.required">שדה חובה</span>
                        <span class="error-desc" *ngIf="phone.errors.pattern">יש להזין 9 או 10 ספרות בלבד</span>
                    </div>
                    <input type="text" required formControlName="email" class="form-control" placeholder="מייל">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                        <span class="error-desc" *ngIf="email.errors.required">שדה חובה</span>
                        <span class="error-desc" *ngIf="email.errors.email">אנא הזינו מייל תקין</span>
                    </div>
                    <input type="text" formControlName="date" class="form-control" placeholder="תאריך פעילות">
                    <input type="text" formControlName="address" class="form-control" placeholder="כתובת לאספקה">
                    <textarea type="text" formControlName="notes" class="form-control" rows="4" placeholder="הערות"
                        maxlength="200"></textarea>
                    <div *ngIf="!isLoading" style="display: inline-block">
                        <button class="btn" type="submit">ביצוע הזמנה<i
                                class="fas fa-arrow-left"></i></button>
                        <span *ngIf="attemptError" class="error-desc"><br>עגלת קניות/טופס לא תקינים</span>
                    </div>
                    <span *ngIf="!isLoading" style="margin-right: .5rem">ההזמנה תועבר לאישור מנהל</span>
                    <div *ngIf="isLoading" class="loader">
                        <div class="lds-ring">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <span *ngIf="isLoading">זה עשוי לקחת מספר שניות...</span>
                </form>
            </div>
        </div>
    </ng-template>
    <ng-template #thankyou>
        <div style="text-align: center">
            <h1 class="color-primary">תודה!</h1>
            הזמנתך התקבלה ונשלחה לאישור מנהל. לאחר האישור יישלחו אליך קודי השוברים.<br>
            <button class="btn" routerLink="/select" queryParamsHandling="preserve">חזרה</button>
        </div>
    </ng-template>
</div>