.bdr-top {
    padding-top: 2rem;
    border-top: 1px solid #e0e0e0;
}
.send-item {
    border-radius: .6rem;
    overflow: hidden;
}
.preview-wrapper {
    height: 100%;
}
.img-container {
    position: relative;
    width: 100%;
    padding-top: 60%;
}
.img-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
}
.preview-footer h4 {
    font-size: 1.25rem;
}
.preview-footer h5 {
    font-size: 1.1rem;
}
.preview-footer p {
    font-size: .9rem;
}
.send-details {
    padding: 1.5rem;
    background: #efefef;
}
.send-details p {
    font-size:1.25rem;
}
table.order-history {
    width: 50%;
    min-width: 300px;
    margin: auto;
    font-size: 1.1rem;
}
.order-history th {
    text-align: right;
}