<div class="container">
    <div class="d-flex jc-between multiple-info">
        <h2 class="color-primary">יתרת תקציב: {{employee.Obligo | number:'1.0-0'}} ש"ח</h2>
        <div>
            <button class="btn btn-large" style="margin-left: 1rem;" (click)="exportExcel()"
                *ngIf="employee.history && !isMngObligoOrder">יצוא לאקסל<i class="far fa-file-excel"></i></button>
            <button class="btn btn-large" routerLink="/select" queryParamsHandling="preserve"
                [disabled]="noObligo">שליחת מתנה חדשה</button><br>
            <span *ngIf="noObligo" class="error-desc">תקציבך נוצל במלואו - לא ניתן לשלוח עוד מתנות.<br>לחידוש התקציב
                ולבירורים פנו אלינו בטלפון 03-5322313.</span>
        </div>
    </div>
    <ng-template [ngIf]="!employee.history || !employee.history.length" [ngIfElse]="historyGrid">
        <div style="text-align: center;">
            <h2 class="color-primary" style="margin: 0 0 1rem;">לא שלחת עדיין מתנות?</h2>
            <h5>תמיד יש פעם ראשונה...</h5>
        </div>
    </ng-template>
    <ng-template #historyGrid>
        <div *ngIf="!isMngObligoOrder" class="grid-2-col">
            <div *ngFor="let item of employee.history" class="d-flex send-item">
                <div class="col-2-5">
                    <div class="preview-wrapper">
                        <div class="img-container">
                            <img [src]="(item.image | encodeSpaces)">
                        </div>
                        <div class="preview-footer">
                            <h4>{{item.ITemName}}<span *ngIf="item.IsGiftCard"> בשווי {{item.LoadSum | number:'1.0-0'}}
                                ש"ח</span></h4>
                            <h5>אל: {{item.Name || ''}}</h5>
                            <h5>מ: {{item.FromWho || ''}}</h5>
                            <p>{{item.MailMsg || ''}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-3-5 send-details">
                    <p><strong>קוד שובר: </strong>{{item.VCVoucherid}}</p>
                    <p><strong>תוקף: </strong>{{item.vDate}}</p>
                    <p><strong>מחיר: </strong>{{item.Price}} ש"ח</p>
                    <p><strong>נשלח אל: </strong>{{item.mailPhone}}</p>
                    <p><strong>תאריך שליחה: </strong>{{item.sendDate}}</p>
                    <p *ngIf="item.dnum"><strong>מספר משלוח: </strong><a href="https://baldar.isgav.co.il/baldar/DeliveryStatus.aspx" target="_blank">{{item.dnum}}</a></p>
                </div>
            </div>
        </div>

        <div *ngIf="isMngObligoOrder">
            <table class="order-history">
                <tr>
                    <th>מספר הזמנה</th>
                    <th>שם פריט</th>
                    <th>סכום</th>
                    <th>סכום טעינה</th>
                    <th>נשלח אל</th>
                    <th>טלפון</th>
                    <th>מייל</th>
                    <th>תאריך שליחה</th>
                    <th>ברכה </th>
                    <th>פעולות</th>
                </tr>
                <tr *ngFor="let order of employee.history">
                    <td>{{order.orderid}}</td>
                    <td>{{order.itemname}}</td>
                    <td>{{order.PriceWithVAT | number:'1.2-2'}}</td>
                    <td>{{order.LoadSum | number:'1.2-2'}}</td>
                    <td>{{order.ToName}}</td>
                    <td>{{order.ToPhone}}</td>
                    <td>{{order.toEmail}}</td>
                    <td>{{order.MDate | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{order.MailMsg}}</td>
                    <td *ngIf="orderId=='oW_BA0uV5MHWP1jfpCYa1w2'"><button (click)="resend(order)">שלח שוב</button></td>
                </tr>
            </table>
        </div>
    </ng-template>
</div>


<!-- <div class="table-wrapper" *ngIf="isMngObligoOrder">
    <p-table *ngIf="!isLoading" [columns]="custsCols" [value]="custs" [paginator]="true" [rows]="employee.history.length"
        [rowsPerPageOptions]="[25,50,100]" dataKey="id">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]='col.field'>
                    {{col.header}}
                    <p-sortIcon *ngIf="col.header.length" [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="tr-man" *ngIf="!rowData.isEditing">
                <td>{{rowData.orderid}}</td>
                <td>{{rowData.itemname}}</td>
                <td>{{rowData.PriceWithVAT}}</td>
                <td>{{rowData.LoadSum}}</td>
                <td>{{rowData.ToName }}</td>
                <td>{{rowData.ToPhone }}</td>
                <td>{{rowData.toEmail}}</td>
                <td>{{rowData.MDate}}</td>
                <td>{{rowData.MailMsg}}</td>
                <td>
                    <button class="action-botton btn primary" *ngIf="orderId=='oW_BA0uV5MHWP1jfpCYa1w2'">שליחה חוזרת</button>
                </td>
            </tr>
            <tr class="tr-man" *ngIf="rowData.isEditing">
                <td>{{rowData.orderid}}</td>
                <td>{{rowData.itemname}}</td>
                <td>{{rowData.PriceWithVAT}}</td>
                <td>{{rowData.LoadSum}}</td>
                <td><input [(ngModel)]="rowData.ToName" /></td>
                <td><input [(ngModel)]="rowData.ToPhone" /></td>
                <td><input [(ngModel)]="rowData.toEmail" /></td>
                <td>{{rowData.MDate}}</td>
                <td><input [(ngModel)]="rowData.MailMsg" /></td>
                <td>
                  <button class="btn-save action-botton btn primary" (click)="saveManager(rowData)">שלח</button>
                  <button class="btn-cancel action-botton btn primary" (click)="cancelEdit(rowData)">בטל</button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <div *ngIf="isLoading" class="loader">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div> -->

<table *ngIf="excel" class="d-none" id="excel-table">
    <tr>
        <th>שם פריט</th>
        <th>קוד שובר</th>
        <th>תוקף</th>
        <th>מחיר</th>
        <th>נשלח אל</th>
        <th>טלפון</th>
        <th>מייל</th>
        <th>מאת</th>
        <th>ברכה</th>
        <th>תאריך שליחה</th>
    </tr>
    <tr *ngFor="let item of employee.history">
        <td>{{item.ITemName}}<span *ngIf="item.IsGiftCard">&nbsp;בשווי {{item.LoadSum | number:'1.0-0'}}
            ש"ח</span></td>
        <td>{{item.VCVoucherid}}</td>
        <td>{{item.vDate}}</td>
        <td>{{item.Price}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Phone}}</td>
        <td>{{item.Email}}</td>
        <td>{{item.FromWho}}</td>
        <td>{{item.MailMsg}}</td>
        <td>{{item.Sent}}</td>
    </tr>
</table>