h4 {
    font-weight: normal;
    margin-bottom: .5rem;
}
.send-options {
    justify-content: unset;
}
.btn {
    font-size: 1.5rem;
    padding: .5rem 1.5rem;
    min-width: 12rem;
}
.form-section {
    border-bottom: 1px solid #e0e0e0;
}
form > div {
    padding-top: 1rem;
}
.preview-wrapper {
    width: 65%;
    margin: 3rem auto;
    border-radius: .6rem;
    overflow: hidden;
}
.preview-wrapper img {
    max-height: 300px;

}

.co-2{
    display: flex;
    flex-direction: column;
    color:red;
}
@media (max-width: 768px) {
    .container > .d-flex {
        display: block;
    }
    .col-3-5, .col-2-5 {
        width: auto;
        padding: 0;
    }
    .col-2-5 {
        display: flex;
        margin-top: 2rem;
    }
    .btn {
        min-width: unset;
    }
}

.upload-icon {
    cursor: pointer;
  }
  
  .upload-icon i {
    margin-right: 5px;
  }

  .upload-text {
    text-align: center;
    margin-top: 132px;
    margin-right: -67px;
  }

  .table {
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }