<div class="container">
    <h2 class="color-primary" *ngIf="!item.GetCodeFromPool||!isTBWallet">שליחת שובר {{item.name}} <strong *ngIf="!item.IsGiftCard">{{item.Price | number:'1.0-0'}}</strong><span *ngIf="!item.IsGiftCard" style="font-size: 1.25rem;"> &#8362;</span></h2>
    <h2 class="color-primary" *ngIf="item.GetCodeFromPool&&isTBWallet">תיאום ל{{item.name}} <strong *ngIf="!item.IsGiftCard">{{item.Price | number:'1.0-0'}}</strong><span *ngIf="!item.IsGiftCard" style="font-size: 1.25rem;"> &#8362;</span></h2>
   
    <div class="container" *ngIf="enableExcel&&(!item.GetCodeFromPool||!isTBWallet)">
    <app-excel-upload (fileData)="uploadWorkersFILE($event)" *ngIf="!fileUploaded"></app-excel-upload>

    <h3 class="color-primary" *ngIf="fileUploaded">מספר נמענים תקינים בקובץ: {{numOfCUstsInFile}}</h3>
    <textarea type="text" *ngIf="fileUploaded" [(ngModel)]="excelGreeting" class="form-control" rows="5"
                        placeholder="ברכות, איחולים ומילים טובות" maxlength="350"></textarea>
    <h4 *ngIf="item.IsGiftCard&&fileUploaded">סכום טעינה</h4> 
    <h6 *ngIf="item.IsGiftCard&&fileUploaded">יש להזין את סכום הזיכוי הכספי שבו ברצונכם לטעון את השובר</h6>
    <input type="number" *ngIf="item.IsGiftCard&&fileUploaded" [(ngModel)]="excelLoadSum" class="form-control" placeholder="סכום טעינה">
   
    <table class="table"*ngIf="fileUploaded">
        <thead>
          <tr>
            <th>שם העובד</th>
            <th>טלפון</th>
            <th>מייל</th>
            <th>מספר עובד</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let worker of workersData">
            <td>{{ worker.name }}</td>
            <td>{{ worker.phone }}</td>
            <td>{{ worker.mail }}</td>
            <td>{{ worker.workerNum }}</td>
          </tr>
        </tbody>
      </table>

    <button *ngIf="!isLoading&&fileUploaded&&workersData" class="btn" type="submit" (click)="onSendSubmit()" [disabled]="(isDemo)|| numOfCUstsInFile == 0 || isObligoDemoWithPassword">שלח לכל הנמענים<i class="fas fa-arrow-left"></i></button>
    <button *ngIf="!isLoading&&fileUploaded&&workersData" class="btn" type="submit" (click)="cenceLoadFile()" style="margin-right: 80px;">ביטול</button>
    <div *ngIf="isLoading" class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
    <br><span *ngIf="!isLoading&&isError&&fileUploaded" class="btn-caption err-desc" style="color:red">{{fileErrorText}}</span>
   </div>
    
    


    <div class="d-flex" style="border-top: 1px solid #e0e0e0;" >
        
        <div class="col-3-5" *ngIf="(!item.GetCodeFromPool||!isTBWallet)&&!fileUploaded">
            <br>
            <form [formGroup]="sendForm" (ngSubmit)="onSendSubmit()">
                <h4 *ngIf="item.IsGiftCard&&IsObligo ">סכום טעינה</h4> 
                <h6 *ngIf="item.IsGiftCard&&IsObligo">יש להזין את סכום הזיכוי הכספי שבו ברצונכם לטעון את השובר</h6>
            <input type="number" *ngIf="item.IsGiftCard&&IsObligo" formControlName="loadSum" class="form-control" placeholder="סכום טעינה">
            <h4>בחירת כמות(ניתן להזמין עד 20 שוברים)</h4> 
            <h6>*בבחירה של מעל 5 שוברים, משך זמן הטעינה וקבלת השוברים עשוי לקחת עד כחצי שעה</h6> 
            <input type="number" formControlName="quantity" class="form-control" placeholder="כמות?">
            <div *ngIf = "biggerThan5" style="color:red">ניתן להזמין עד 20 שוברים בלבד.</div>
                <div class="form-section" *ngIf="!isGiftSite&&!isTBWallet">
                    <h4>בנימה אישית</h4> 

                    <input type="text" formControlName="recipient" class="form-control" placeholder="למי המתנה?" *ngIf="!(isEmployeeIncentive && quantity.value >1)">
                    <input type="text" formControlName="from" class="form-control" placeholder="מי השולח?" >
                    <textarea type="text" formControlName="greeting" class="form-control" rows="5"
                        placeholder="ברכות, איחולים ומילים טובות" maxlength="350"></textarea>
                </div>
                <div class="form-section" *ngIf="isGiftSite">
                    <input type="text" formControlName="recipient" class="form-control" placeholder="למי המתנה?">
                </div>
                <div class="form-section" *ngIf="isTBWallet">
                    <input type="text" formControlName="recipient" class="form-control" placeholder="שם המנהל / המחלקה">
                </div>
                
                <div class="form-section" *ngIf="showPurposeSending">
                    <h4 for="purposeSendingOpt">מטרת השליחה</h4> 
                    <select formControlName="purposeSending" name="purposeSending" id="purposeSending"  class="form-control" (change)="onPurposeSendingChanged()" >
                        <option [ngValue]="null" disabled>בחר/י מטרה</option>
                        <option *ngFor="let opt of purposeSendingOpts">{{opt}}</option>
                    </select> 
                    <input type="text" formControlName="workerId" class="form-control" placeholder="מספר העובד אליו ברצונך לשלוח את התמריץ" *ngIf="isEmployeeIncentive && quantity.value < 2">
                </div>
                

                <div class="form-section" *ngIf="!(isEmployeeIncentive && quantity.value >1)">
                    <h4>איך לשלוח את השובר?</h4> 
                    <div class="send-options color-primary">
                        <div class="send-option" [class.active]="sendPhone" (click)="sendPhone = !sendPhone">
                            <i class="fa fa-mobile"></i><i class="fa fa-comment"></i><span>SMS</span></div>
                        <div class="send-option" [class.active]="sendMail" (click)="sendMail = !sendMail">
                            <i class="fa fa-envelope"></i><span>מייל</span></div>
                    </div>
                    <div *ngIf="sendPhone"><input type="tel"  id="phone" name="phone" formControlName="phone"
                            class="form-control" placeholder="(יש להזין ללא מקף) מס' טלפון"></div>
                    <div *ngIf="sendMail"><input type="email"  id="email" name="email" formControlName="email"
                            class="form-control" placeholder="כתובת אימייל"></div>
                </div>
                <!-- <div class="recaptcha-div">
                    <div class="container-fluid py-3">
                        <div class="row mt-3">
                          <div class="col-sm-12 mb-2" formControlName="recaptcha">
                            <re-captcha ngModel id="recaptcha" name="recaptcha" #recaptcha=ngModel [(ngModel)]="recaptchaToken" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" ></re-captcha>
                            <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                              <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div> -->
                <div class="d-flex jc-between keep-sm">
                    <button class="btn btn-back" routerLink="/select" queryParamsHandling="preserve" [disabled]="isLoading">חזור</button>
                    <div class = "col-2">
                        <button *ngIf="!isLoading" class="btn" type="submit" [disabled]=" !sendForm.valid || isDemo || isObligoDemoWithPassword">שלח שובר<i class="fas fa-arrow-left"></i></button>
                        <!-- <br><span *ngIf="!sendForm.valid" class="btn-caption">יש למלא את כל השדות באופן תקין כדי להמשיך</span> -->
                        <br><span *ngIf="!isLoading && isError" class="btn-caption err-desc" style="color:red">{{errorText}}</span>
                        <div *ngIf = "noObligo" style="color:red">אין מספיק יתרה בתקציב!</div>
                    </div>
                    <div *ngIf="isLoading" class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
                </div>
            </form>
        </div>
        <div class="col-3-5" *ngIf="item.GetCodeFromPool&&isTBWallet">
            <form #partyForm="ngForm" novalidate>                                     

                <div class="form-phone">
                    <h4>שם המזמין (שם פרטי + שם משפחה)</h4>
                    <input type="text" class="form-control" id="departmentManagerName" name="departmentManagerName" required ><br>
                        <!-- <label for="tBPassword">סיסמת מעקב לגיבוש</label>
                        <input type="text" class="form-control" id="tBPassword" name="tBPassword" required [(ngModel)]="tBPassword">
                        <div class="popup" (mouseover)="showTheMessage()" (mouseout)="showTheMessage()">
                            <i class="info-icon fa fa-info-circle"></i>
                            <span class="popuptext" id="myPopup">סיסמא זו תשמש אותך לצורך מעקב ושינוי פרטים בגיבוש שבחרת. <br> אם ברצונך לבחור גיבוש נוסף, עליך להכנס עם הסיסמא הקודמת ( {{generalPassword}})</span>
                        </div>  -->   
                </div>

                    <!-- <label id = "existPasswordLabel" *ngIf="existsPassword">הסיסמא שבחרת כבר קיימת במערכת. אנא בחר/י סיסמא אחרת</label> -->
                <div class="form-participants"><h4>כמה אנשים תהיו?</h4>
                    <input type="number" style="max-width: 7.5rem;" maxlength="4" class="form-control" id="party" name="party" required >
                </div>
                <div class="form-phone" ><h4>טלפון ליצירת קשר:</h4>
                    <input type="text" class="form-control" id="phone" name="phone" required ></div>
                <div class="form-email" ><h4>כתובת מייל:</h4>
                    <input type="text" class="form-control" id="email" name="email"  ></div>
                <div class="form-duedate"><h4>תאריך מועדף ליציאה:</h4>
                    <input type="date" style="max-width: 170px;" class="form-control" id="dueDate" name="dueDate" required ></div>
                    <div class="form-duedate"><h4>שעת תחילת הפעילות:</h4>
                        <input type="time" style="max-width: 170px;" class="form-control" id="dueTime" name="dueTime" required ></div>
                <div class="form-notes"><label for="notes" style="vertical-align: top;">הערות:</label>
                    <textarea rows="5" cols="30" class="form-control" name="notes" id="notes"></textarea></div>
                <!-- <div class="recaptcha-div">
                    <div class="container-fluid py-3">
                        <div class="row mt-3">
                          <div class="col-sm-12 mb-2">
                            <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="recaptchaToken" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" (resolved)="resolved($event)"></re-captcha>
                            <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                              <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div> -->
                <div class="d-flex jc-between keep-sm actions" *ngIf="!isLoading">
                    <button type="button" class="btn btn-back">ביטול</button>
                    <div style="position: relative"><button type="submit" class="btn" [disabled]="!partyForm.form.valid || isDemo">המשך<i class="fas fa-arrow-left"></i></button>
                    <span *ngIf="!partyForm.form.valid" class="btn-caption">יש למלא את כל השדות באופן תקין כדי להמשיך</span>
                    <span *ngIf="partyForm.form.valid && !isLoading && isError" class="btn-caption err-desc">{{errorText}}</span>
                    <span *ngIf="partyForm.form.valid && !isLoading && isError" class="btn-caption err-desc"> הסיסמא שבחרת כבר קיימת במערכת. אנא בחר/י סיסמא אחרת</span></div>
                </div>
                <div *ngIf="isLoading" class="loader"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
            </form>
        </div>
    </div>
</div>
