.upload-excel-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add some bottom margin */
  }
  
  .upload-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5rem; /* Increase font size */
  }
  
  .upload-icon input[type="file"] {
    display: none;
  }
  
  .upload-icon i {
    font-size: 5.5rem;
    color: darkgreen;
}

.upload-text {
    text-align: center;
    margin-top: 190px;
    margin-right: -67px;
  }
  
  