

  <div class="d-flex" style="border-top: 1px solid #e0e0e0;">
    <div class="col-3-5 upload-excel-container">
      <!-- Excel upload icon and label -->
      <label for="excelFileInput" class="upload-icon">
        <input type="file" id="excelFileInput" (change)="onFileSelected($event)" accept=".xls,.xlsx" style="display: none;">
        <i class="fas fa-file-excel"></i>
        <span class="upload-text" *ngIf="!fileLoaded">שליחה לנמענים שונים באמצעות קובץ EXCEL<br> -לחצו להעלאת הקובץ-</span>
        <a href="assets/פורמט שליחה מרובה.xlsx" download>תבנית קובץ נמענים</a>

        <br><span *ngIf="isError" class="btn-caption err-desc" style="color:red">{{errorText}}</span>
      </label>
    </div>
