

<!-- <div class="overlay">
    <div *ngIf="!unsupportedBrowser" class="form-wrapper">
        <ng-template [ngIf]="override" [ngIfElse]="regValidation">
            <form #vldForm="ngForm" (ngSubmit)="onVldSubmit()">
                <label for="vld">אנא הזינו שם משתמש וסיסמה:</label><br>
                <input type="text" class="form-control" id="vldMail" name="vldMail" required [(ngModel)]="vldUser"
                    #name="ngModel" placeholder="שם משתמש" style="margin-bottom:.5rem;">
                <input type="password" class="form-control" id="vldPass" name="vldPass" required [(ngModel)]="vldPass"
                    #name="ngModel" placeholder="סיסמה">
                <button type="submit" class="btn" [disabled]="!vldForm.form.valid">המשך<i
                        class="fas fa-arrow-left"></i></button>
            </form>
            <span *ngIf="isError" class="error-desc">מצטערים, לא מצאנו אתכם...<br>אנא פנו לארגון שלכם או לשירות דור חדש
                בשוברים בטלפון: 03-5322313</span>
            <span *ngIf="expired" class="error-desc">באופן זמני לא ניתן לבחור מתנות באתר, אנא נסו שוב בקרוב.<br>עמכם
                הסליחה.</span>
        </ng-template>
        <ng-template #regValidation>
            <form #vldForm="ngForm" (ngSubmit)="onVldSubmit()">
                <label for="vld">אנא הזינו {{vldLabel}}:</label><br>
                <input type="text" class="form-control" id="vld" name="vld" required [(ngModel)]="vldValue"
                    #name="ngModel">
                <button type="submit" class="btn" [disabled]="!vldForm.form.valid">המשך<i
                        class="fas fa-arrow-left"></i></button>
            </form>
            <span *ngIf="isError" class="error-desc">{{errorText}}</span>
            <ng-template [ngIf]="both">
                <h2 class="color-primary" style="margin:.5rem 0 0;font-size:2rem;">זכית!</h2>
                <h3 style="font-size:1.25rem;">כבר בחרת מתנה, אך באפשרותך לבחור לעצמך מתנה נוספת</h3>
                <div class="d-flex">
                    <a href="#" routerLink="/select" skipLocationChange queryParamsHandling="preserve" class="btn"
                        style="margin-left:1rem;">בחירת מתנה נוספת</a>
                    <a href="#" routerLink="/selected" skipLocationChange queryParamsHandling="preserve"
                        class="btn">צפייה במתנה שבחרתי</a>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <div *ngIf="unsupportedBrowser" class="form-wrapper">
        <h3 style="font-family:Arial, Helvetica, sans-serif;">מצטערים, דפדפן זה אינו נתמך. אנא נסו שנית מדפדפן Microsoft
            Edge או מכל דפדפן מודרני אחר לבחירתכם.</h3>
    </div>
</div> -->
<div *ngIf="isLoading" class="loader">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div class="container" *ngIf="!isLoading">
    <p class="instructions" [innerHTML]="order.instructions | safeHtml"></p>
    <!-- <div *ngIf="!unsupportedBrowser" class="form-wrapper"> -->
    <div class="form-wrapper">
        <h2 class="color-primary" style="text-align: center;" *ngIf="!OTPState||OTPState&&!OTPSent">כניסה למערכת</h2>
        <h2 class="color-primary" style="text-align: center;" *ngIf="OTPState&&OTPSent">נשלח אליכם קוד לנייד / למייל</h2>
        <ng-template [ngIf]="order.MultipleChoice == 1 && vldField == 4" [ngIfElse]="regValidation">
            <form #vldForm="ngForm" (ngSubmit)="onVldSubmit()">
                <label for="vld"*ngIf="!OTPState||OTPState&&!OTPSent">אנא הזינו כתובת מייל וסיסמה:</label>
                <label for="vld"*ngIf="OTPState&&OTPSent">אנא הזנ/י את הקוד שקיבלת</label><br>
                <input type="text" class="form-control" name="vld" *ngIf="!OTPState||OTPState&&!OTPSent" required [(ngModel)]="vldValue"
                    #name="ngModel" placeholder="מייל" style="margin-bottom:.5rem;">
                <input type="text" class="form-control" name="vld" *ngIf="OTPState&&OTPSent" required [(ngModel)]="OTPValue"
                    #name="ngModel" placeholder="מייל" style="margin-bottom:.5rem;">
                <input type="password" class="form-control" name="pass" required [(ngModel)]="vldPass"
                    #name="ngModel" placeholder="סיסמה">
                <button type="submit" class="btn" [disabled]="!vldForm.form.valid">המשך<i
                        class="fas fa-arrow-left"></i></button>
            </form>
            <span *ngIf="isError" class="error-desc">{{errorText}}</span>
        </ng-template>
        <ng-template #regValidation>
            <form #vldForm="ngForm" (ngSubmit)="onVldSubmit()">
                <label for="vld">אנא הזינו {{vldLabel}}:</label><br>
                <input type="text" class="form-control" id="vld" name="vld" *ngIf="!OTPState||OTPState&&!OTPSent" required [(ngModel)]="vldValue"
                    #name="ngModel">
                <input type="text" class="form-control" id="vldOTP" name="vldOTP" *ngIf="OTPState&&OTPSent" required [(ngModel)]="OTPValue"
                    #name="ngModel">
                <button type="submit" class="btn" [disabled]="!vldForm.form.valid">המשך<i
                        class="fas fa-arrow-left"></i></button>
            </form>
            <span *ngIf="isError" class="error-desc">{{errorText}}</span>
            <ng-template [ngIf]="both">
                <h2 class="color-primary" style="margin:.5rem 0 0;font-size:2rem;">זכית!</h2>
                <h3 style="font-size:1.25rem;">כבר בחרת מתנה, אך באפשרותך לבחור לעצמך מתנה נוספת</h3>
                <div class="d-flex">
                    <a href="#" routerLink="/select" queryParamsHandling="preserve" class="btn"
                        style="margin-left:1rem;">בחירת מתנה נוספת</a>
                    <a href="#" routerLink="/selected" queryParamsHandling="preserve"
                        class="btn">צפייה במתנה שבחרתי</a>
                </div>
            </ng-template>
        </ng-template>
    </div>
    <!-- <div *ngIf="unsupportedBrowser" class="form-wrapper">
        <h3 style="font-family:Arial, Helvetica, sans-serif;">מצטערים, דפדפן זה אינו נתמך. אנא נסו שנית מדפדפן Microsoft
            Edge או מכל דפדפן מודרני אחר לבחירתכם.</h3>
    </div> -->
</div>

